page-about {
    .scroll-content{
        background-image: url('../../assets/imgs/services.png');
        // background-size: 100%;
        // background-repeat: no-repeat;
     }
     .card-md p{
         color: #333333;
     }
     .card-content-md
     {
         color: #333333
     }

}
