<!-- <ion-header *ngIf="showHeader">
    <ion-navbar>
      <ion-buttons start>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding style="background-color:#0091EA">
    <ion-title>About</ion-title>
  <ion-grid>
<ion-row>
<ion-card>
  <ion-card-header style="background:black;color:white">
    Who we are?
  </ion-card-header>
  <ion-card-content style="background-color:black">
    <p>
   MS Group is a multi-discipline construction company having its registered office at Bangalore in the state of Karnataka, India.
It began as a small entity that undertook building projects. Within a decade, our endeavors today, currently span across construction of residential and office properties, industrial facilities, highways and other types of infrastructure. 
We are one of the fastest growing infrastructure organizations with rich and varied experience in executing landmark projects across India.
</p>
<p>
We are one of the fastest growing infrastructure organizations with rich and varied experience in executing landmark projects across India.

MS Group initially started with its services with  ‘MS Constructions’ in the year 2010 by its Chairman Sri. S Manjappa.
</p>

<p>
Since inception, MS Group has been actively engaged in Real estate and construction activities. Since its inception MS group  has completed various projects like building apartments ,individual building , villa houses and commercial buildings etc.

Over the last few years, MS Group has undergone rapid expansion and is at present working in various parts of India in different public and private sectors. Now, the company is having all India presence viz., Andhra Pradesh, Tamilnadu, Karnataka.


MS Group’s growth can be directly attributed to its propensity to adopt, endure and remain credible amongst all its competitors.


MS Group has diversified into taking up large projects by directly participating in tenders and as well as entering into strategic alliance with various reputed construction companies for joint ventures.
</p>  
  </ion-card-content>
</ion-card>
</ion-row>

<ion-row>
  <ion-col>
<ion-card style="background-color:black">
  <ion-card-header style="color: white">
    Our Mission
  </ion-card-header>
  <ion-card-content>
     <p  style="color: white">
       To provide construction and real estate services with in depth market knowledge ,creative approach  and ethical practices within budget and timeline.

Every project that we undertake adheres to stringent quality standards and we ensure the completion of all projects in their stipulated time period.

       </p>
  </ion-card-content>
</ion-card>
  </ion-col>
<ion-col>
<ion-card style="background-color:black">
  <ion-card-header style="color: white">
    Our core values
  </ion-card-header>
  <ion-card-content>
    <p  style="color: white">
     Building long-term relationships with clients

Staying as loyal to our employee as they are to us

Constant growth and development

Always delivering results

Service that does not end at the transaction
</p>

  </ion-card-content>
</ion-card>
</ion-col> 
</ion-row>
</ion-grid>
</ion-content> -->


<ion-header *ngIf="showHeader">
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center>
    <img src="../../assets/imgs/customer.jpg">
  </ion-row>
  <ion-row>
    <ion-card style="margin-left:0;margin-right:0;width:100%">
      <ion-card-header>
        <ion-title style="text-align: center;color:black">The MS Group Story</ion-title>
      </ion-card-header>
      <ion-card-content>
        MS Group is a multi-discipline company having its registered office at Bangalore in the state of Karnataka, India. We initially
        started our services as ‘MS Constructions’ in the year 2010 by our Chairman Sri. S Manjappa. Since inception, we
        have been actively engaged in Real estate and construction activities. MS Group’s growth can be directly attributed
        to its propensity to adopt, endure and remain credible amongst all its competitors. Now, the company is having all
        India presence viz., Andhra Pradesh, Tamilnadu, Karnataka.
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row style="background-color: black;">
    <ion-col>
      <br/>
      <ion-title style="text-align: center;color:white">Our Mission</ion-title>
      <br/>
      <p style="color:white;text-align: center;line-height:200%">To provide construction and real estate services with in depth market knowledge ,creative approach and ethical practices
        within budget and timeline.</p>
    </ion-col>
    <ion-col>
      <br/>
      <ion-title style="text-align: center;color:white">Our Core Values</ion-title>
      <br/>
      <p style="color:white;text-align: center;line-height:200%"> Building long-term relationships with clients
        <br/> Staying as loyal to our employee as they are to us
        <br/> Constant growth and development
        <br/> Always delivering results
        <br/> Providing service that does not end at the transaction</p>
    </ion-col>
  </ion-row>
  <br/>
  <ion-row style="text-align: center">
      <ion-col [ngStyle]="{'border-right': showHeader ? '' : 'black 1px solid'}">
          <!-- <ion-item> -->
          <ion-icon name="pin" style="font-size:2.5em"></ion-icon>
          <p style="font-size: 1.3em">Head Office
          <br/>#204/1, 9th cross, Venkateshappa layout,
          <br/>Varthur main road, Bangalore - 560087</p>
          <!-- </ion-item> -->
        </ion-col>
    <ion-col >
      <!-- <ion-item> -->
      <ion-icon name="call" style="font-size:2.5em"></ion-icon>
      <p style="font-size: 1.3em">+91 9740720546
      <br/>+91 9148845673</p>
      <!-- </ion-item> -->
    </ion-col>
    
  </ion-row>
</ion-content>