page-about {
    // .scroll-content{
    //     background-image: url('../../assets/imgs/services.png');
    //     background-repeat: repeat;
    //     background-size: 100%;
    //  }
     .card-md p{
         color: #ffc107;
     }
     .card-content-md
     {
         color: #333333
     }

     .toolbar-title-md
     {
         color: inherit;
     }

     .scroll-content{
         background-color: #f7f7f7;
     }

}
