page-about {
    .scroll-content{
        background-image: url('../../assets/imgs/services.png');
        background-repeat: repeat;
        background-size: 100%;
     }
     .card-md p{
         color: #333333;
     }
     .card-content-md
     {
         color: #333333
     }

}
