<!-- <ion-content>
  <ion-grid fixed ng-if="showhomepage">
    <ion-tabs tabsPlacement=top tabsLayout=icon-start (tap)="tabClicked($event)" #myTabs>
       <ion-tab tabTitle="Home" [root]="default" (ionSelect)="setIndex($event)" ></ion-tab>
        <ion-tab tabTitle="Services" [root]="tab2" (ionSelect)="setIndex($event)"></ion-tab>            
      <ion-tab tabTitle="Contact" [root]="tab3" (ionSelect)="setIndex($event)" ></ion-tab>
      <ion-tab tabTitle="About" [root]="tab1" (ionSelect)="setIndex($event)" ></ion-tab>
    </ion-tabs>
  </ion-grid>
</ion-content> -->

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <button ion-item menuClose (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{ p.title }}
        </button>
        <div *ngIf="p.children.length > 0">
          <div *ngFor="let child of p.children">
            <button ion-item menuClose style="padding-left:30%" (click)="openPage(child)">{{child.name}}</button>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>